bleak>=0.21.0
protobuf>=4.23.1
py-jsonic>=0.0.2<0.0.3
aiohttp
paho-mqtt>=2.1.0<3
alicloud-gateway-iot>=1.0.0<2
alibabacloud-apigateway-util>=0.0.2<0.0.3
alibabacloud-iot-api-gateway>=0.0.4<0.0.5
bleak-retry-connector>=3.5.0
jsonic>=1.0.0<2
mashumaro~=3.13
orjson>=3.9.15<4
betterproto2>=0.9.1
numpy>=1.26.0
async-timeout>=4.0.3<5
cryptography>=43.0.1
crcmod~=1.7
pyjwt>=2.10.1
shapely